@media(max-width: 768px) {
    .container {
        flex-direction: column;
        height: 840px;
    }

    .result {
        height: 70%;
    }

    .sumary {
        max-height: 50%;
        border-radius: 30px;
    }
}