
body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 600px;
  height: 420px;
  box-shadow: 10px 16px 8px #ebf1ff;
  border-radius: 30px;
}

.result {
  background-image: linear-gradient(#7857ff, #2e2be9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  border-radius: 30px;
}

.seu {
  color: #c8c7ff;
  font-size: 20px;
}

.result .porcentagem {
  background-image: linear-gradient(#4e21ca, hsla(241, 72%, 46%, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

.porcentagem .ponto {
  font-size: 60px;
  font-weight: 900;
  color: white;
}

.porcentagem .porcento {
  color: #c8c7ff;
  font-weight: 500;
}

.result span {
  font-size: 30px;
  font-weight: 700;
}

.result .comparacao {
  color: #c8c7ff;
  text-align: center;
  font-size: 14px;
  max-width: 25ch;
}

.sumary {
  box-shadow: 10px 16px 8px #ebf1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  padding: 50px;
}

.title {
  color: #303b5a;
  position: relative;
  right: 75px;
  bottom: 5px;
  font-size: 20px;
}
.pontuacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.tipo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 9px;
  width: 240px;
  height: 50px;
  border-radius: 10px;
}

.tipo img {
  width: 2vh;
  margin-left: 15px;
}
.tipo h2 {
  margin-right: 70px;
  font-weight: 500px;
}

.tipo p {
  font-size: 12px;
  font-weight: 500;
  margin-right: 20px;
}

.botao {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: #303b5a;
  color: #ebf1ff;
  transition: all 0.3s;
  overflow: hidden;
  width: 220px;
  height: 40px;
  border-radius: 4rem;
  cursor: pointer;
}

.botao:hover {
  background-color: #1aabff;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: -480;
}

.reaction {
  background-color: rgb(255, 87, 87, 0.1);
}

.reaction h2 {
  color: #ff5757;
}

.reaction p {
  color: #a2a5ac;
}

.reaction p b {
  color: #303b5a;
  font-weight: 900;
}

.memory {
  background-color: rgb(255, 176, 31, 0.1);
}

.memory h2 {
  color: #ffb01f;
}

.memory p {
  color: #a2a5ac;
}

.memory p b {
  color: #303b5a;
  font-weight: 900;
}

.verbal {
  background-color: rgb(0, 189, 145, 0.1);
}

.verbal h2 {
  color: #00bd91;
}

.verbal p {
  color: #a2a5ac;
}

.verbal p b {
  color: #303b5a;
  font-weight: 900;
}

.visual {
  background-color: rgb(17, 37, 212, 0.1);
}

.visual h2 {
  color: #1125d4;
}

.visual p {
  color: #a2a5ac;
}

.visual p b {
  color: #303b5a;
  font-weight: 900;
}
